<a href="https://colab.research.google.com/github/Katsushi-Nakanishi/quant-macro/blob/main/GrowthAccounting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd
import numpy as np

pwt90 = pd.read_stata('https://www.rug.nl/ggdc/docs/pwt90.dta')

In [ ]:
['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Italy', 'Japan', 'Netherlands', 'New Zealand', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States']

**・Lを総労働時間とした場合**

In [128]:
#対象の国をリスト化
target_countries = ['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Italy', 'Japan', 'Netherlands', 'New Zealand', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States']

#リストに該当する国の、1960~2000期間のデータを抽出
data = pwt90[
    pwt90['country'].isin(target_countries) &
    pwt90['year'].between(1960, 2000)
]

#必要な変数だけをリスト化し、データを絞る
relevant_cols = ['countrycode', 'country', 'year', 'rgdpna', 'rkna', 'pop', 'emp', 'avh', 'labsh',]
data = data[relevant_cols].dropna()


data['alpha'] = 1 - data['labsh']  # 資本所得分配率（α）= 1 - 労働所得分配率
data['L'] = data['emp'] * data['avh']  # L（総労働時間） = emp * avh
data['y'] = data['rgdpna'] / data['L']  # y = Y/L
data['k'] = data['rkna'] / data['L']  # k = K/L


data = data.sort_values('year')  # 年順にソート
data = data.groupby('countrycode').apply(lambda x:x.assign(
    y_shifted = 100 * x['y'] / x['y'].iloc[0],
    k_shifted = 100 * x['k'] / x['k'].iloc[0]
)).reset_index(drop=True).dropna()  # 国別に、最初の年で基準化したy,k列をデータに追加


def calg(country_data):  #国別のデータに対して、成長会計をおこなう関数を定義

    start_year_actual = country_data['year'].min()  # 初年度
    end_year_actual = country_data['year'].max()  # 終年度

    start_data = country_data[country_data['year'] == start_year_actual].iloc[0]
    end_data = country_data[country_data['year'] == end_year_actual].iloc[0]

    years = end_data['year'] - start_data['year']

    g_y = ((end_data['y'] / start_data['y']) ** (1/years) - 1) * 100  # Growth Rate(労働生産性の伸び)

    g_k = ((end_data['k'] / start_data['k']) ** (1/years) - 1) * 100  # kの成長率を計算

    alpha_avg = (start_data['alpha'] + end_data['alpha']) / 2.0  # alphaの平均値を計算

    capital_deepening_contrib = alpha_avg * g_k  # Captal Deepning
    tfp_growth_contrib = g_y - capital_deepening_contrib  # TFP Growth

    tfp_share = tfp_growth_contrib / g_y
    cap_share = capital_deepening_contrib / g_y

    # 計算結果の辞書を返す
    return {
        'Country': start_data['country'],
        'Growth Rate': round(g_y, 2),
        'TFP Growth': round(tfp_growth_contrib, 2),
        'Capital Deepening': round(capital_deepening_contrib, 2),
        'TFP Share': round(tfp_share, 2),
        'Capital Share': round(cap_share, 2)
    }

# 国ごとにcalg関数を適用し、結果を辞書のリストとして作成
results_list = data.groupby('countrycode').apply(calg).dropna().tolist()
results_df = pd.DataFrame(results_list)
results_df

<ipython-input-128-1d60f4e73783>:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = data.groupby('countrycode').apply(lambda x:x.assign(
<ipython-input-128-1d60f4e73783>:61: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  results_list = data.groupby('countrycode').apply(calg).dropna().tolist()

,Country,Growth Rate,TFP Growth,Capital Deepening,TFP Share,Capital Share
0,Australia,1.91,1.26,0.65,0.66,0.34
1,Austria,3.43,1.86,1.57,0.54,0.46
2,Belgium,3.30,2.09,1.21,0.63,0.37
3,Canada,1.86,1.11,0.75,0.59,0.41
4,Switzerland,1.75,0.71,1.04,0.41,0.59
5,Germany,3.78,2.22,1.56,0.59,0.41
6,Denmark,2.99,1.54,1.45,0.51,0.49
7,Spain,3.78,2.04,1.74,0.54,0.46
8,Finland,3.81,2.29,1.52,0.60,0.40
9,France,3.78,2.38,1.40,0.63,0.37
10,United Kingdom,2.88,1.70,1.19,0.59,0.41
11,Greece,3.67,1.44,2.23,0.39,0.61
12,Iceland,2.60,1.57,1.03,0.60,0.40
13,Italy,3.75,1.96,1.79,0.52,0.48
14,Japan,4.80,1.21,3.59,0.25,0.75
15,Netherlands,2.80,1.89,0.91,0.67,0.33
16,Norway,3.53,2.25,1.28,0.64,0.36
17,New Zealand,1.36,0.72,0.64,0.53,0.47
18,Portugal,3.46,2.01,1.46,0.58,0.42
19,Sweden,2.43,1.19,1.23,0.49,0.51
20,United States,1.93,1.34,0.59,0.69,0.31

**・Lを就業者数とした場合**

In [129]:
#対象の国をリスト化
target_countries = ['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Italy', 'Japan', 'Netherlands', 'New Zealand', 'Norway', 'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States']

#リストに該当する国の、1960~2000期間のデータを抽出
data = pwt90[
    pwt90['country'].isin(target_countries) &
    pwt90['year'].between(1960, 2000)
]

#必要な変数だけをリスト化し、データを絞る
relevant_cols = ['countrycode', 'country', 'year', 'rgdpna', 'rkna', 'pop', 'emp', 'avh', 'labsh',]
data = data[relevant_cols].dropna()


data['alpha'] = 1 - data['labsh']  # 資本所得分配率（α）= 1 - 労働所得分配率
data['y'] = data['rgdpna'] / data['emp']  # y = Y/emp
data['k'] = data['rkna'] / data['emp']  # k = K/emp


data = data.sort_values('year')  # 年順にソート
data = data.groupby('countrycode').apply(lambda x:x.assign(
    y_shifted = 100 * x['y'] / x['y'].iloc[0],
    k_shifted = 100 * x['k'] / x['k'].iloc[0]
)).reset_index(drop=True).dropna()  # 国別に、最初の年で基準化したy,k列をデータに追加


def calg(country_data):  #国別のデータに対して、成長会計をおこなう関数を定義

    start_year_actual = country_data['year'].min()  # 初年度
    end_year_actual = country_data['year'].max()  # 終年度

    start_data = country_data[country_data['year'] == start_year_actual].iloc[0]
    end_data = country_data[country_data['year'] == end_year_actual].iloc[0]

    years = end_data['year'] - start_data['year']

    g_y = ((end_data['y'] / start_data['y']) ** (1/years) - 1) * 100  # Growth Rate(労働生産性の伸び)

    g_k = ((end_data['k'] / start_data['k']) ** (1/years) - 1) * 100  # kの成長率を計算

    alpha_avg = country_data['alpha'].mean()  # alphaの平均値を計算

    capital_deepening_contrib = alpha_avg * g_k  # Captal Deepning
    tfp_growth_contrib = g_y - capital_deepening_contrib  # TFP Growth

    tfp_share = tfp_growth_contrib / g_y
    cap_share = capital_deepening_contrib / g_y

    # 計算結果の辞書を返す
    return {
        'Country': start_data['country'],
        'Growth Rate': round(g_y, 2),
        'TFP Growth': round(tfp_growth_contrib, 2),
        'Capital Deepening': round(capital_deepening_contrib, 2),
        'TFP Share': round(tfp_share, 2),
        'Capital Share': round(cap_share, 2)
    }

# 国ごとにcalg関数を適用し、結果を辞書のリストとして作成
results_list = data.groupby('countrycode').apply(calg).dropna().tolist()
results_df = pd.DataFrame(results_list)
results_df

<ipython-input-129-2dd0a76a53db>:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = data.groupby('countrycode').apply(lambda x:x.assign(
<ipython-input-129-2dd0a76a53db>:60: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  results_list = data.groupby('countrycode').apply(calg).dropna().tolist()

,Country,Growth Rate,TFP Growth,Capital Deepening,TFP Share,Capital Share
0,Australia,1.74,1.15,0.59,0.66,0.34
1,Austria,3.08,1.64,1.44,0.53,0.47
2,Belgium,2.72,1.72,1.00,0.63,0.37
3,Canada,1.45,0.83,0.62,0.57,0.43
4,Switzerland,1.40,0.48,0.92,0.34,0.66
5,Germany,2.73,1.52,1.21,0.56,0.44
6,Denmark,2.31,1.10,1.21,0.48,0.52
7,Spain,3.50,1.86,1.63,0.53,0.47
8,Finland,3.38,2.01,1.37,0.59,0.41
9,France,2.86,1.75,1.12,0.61,0.39
10,United Kingdom,2.21,1.29,0.92,0.58,0.42
11,Greece,3.53,1.36,2.16,0.39,0.61
12,Iceland,2.00,1.18,0.82,0.59,0.41
13,Italy,3.33,1.72,1.62,0.51,0.49
14,Japan,4.21,0.83,3.39,0.20,0.80
15,Netherlands,2.20,1.46,0.73,0.67,0.33
16,Norway,2.69,1.72,0.97,0.64,0.36
17,New Zealand,1.20,0.62,0.58,0.52,0.48
18,Portugal,3.10,1.78,1.33,0.57,0.43
19,Sweden,2.30,1.12,1.18,0.49,0.51
20,United States,1.82,1.27,0.55,0.70,0.30

In [125]:
print(data)

   countrycode    country  year         rgdpna          rkna        pop  \
0          AUS  Australia  1960  174210.734375  5.488126e+05  10.561457
1          AUS  Australia  1961  176586.343750  5.626911e+05  10.803588
2          AUS  Australia  1962  187672.468750  5.850144e+05  11.003531
3          AUS  Australia  1963  200342.343750  6.088022e+05  11.214037
4          AUS  Australia  1964  213012.218750  6.400842e+05  11.435046
5          AUS  Australia  1965  217763.421875  6.679079e+05  11.660398
6          AUS  Australia  1966  231225.156250  7.022682e+05  11.880264
7          AUS  Australia  1967  243103.171875  7.355953e+05  12.101641
8          AUS  Australia  1968  260524.234375  7.763284e+05  12.335469
9          AUS  Australia  1969  279529.031250  8.186658e+05  12.618559
10         AUS  Australia  1970  290615.187500  8.587118e+05  12.904760
11         AUS  Australia  1971  301984.031250  8.994501e+05  13.150591
12         AUS  Australia  1972  309830.093750  9.396228e+05  13.364238
13         AUS  Australia  1973  322520.875000  9.842497e+05  13.552190
14         AUS  Australia  1974  326833.625000  1.020507e+06  13.725400
15         AUS  Australia  1975  335297.875000  1.057063e+06  13.892674
16         AUS  Australia  1976  347391.468750  1.093157e+06  14.054956
17         AUS  Australia  1977  350507.062500  1.129708e+06  14.211657
18         AUS  Australia  1978  364714.625000  1.171159e+06  14.368543
19         AUS  Australia  1979  375843.062500  1.214026e+06  14.532401
20         AUS  Australia  1980  388464.468750  1.265026e+06  14.708323
21         AUS  Australia  1981  401364.812500  1.320476e+06  14.898019
22         AUS  Australia  1982  392411.312500  1.361994e+06  15.101227
23         AUS  Australia  1983  410574.156250  1.403591e+06  15.318254
24         AUS  Australia  1984  432128.031250  1.450604e+06  15.548591
25         AUS  Australia  1985  449797.406250  1.502554e+06  15.791043
26         AUS  Australia  1986  461424.187500  1.551089e+06  16.047026
27         AUS  Australia  1987  488172.562500  1.602604e+06  16.314778
28         AUS  Australia  1988  507192.625000  1.663118e+06  16.585905
29         AUS  Australia  1989  525092.625000  1.719259e+06  16.849253
30         AUS  Australia  1990  522855.968750  1.757742e+06  17.096869
31         AUS  Australia  1991  524967.875000  1.789441e+06  17.325818
32         AUS  Australia  1992  546214.000000  1.828572e+06  17.538387
33         AUS  Australia  1993  568306.875000  1.872378e+06  17.738428
34         AUS  Australia  1994  590364.000000  1.926239e+06  17.932214
35         AUS  Australia  1995  613667.375000  1.979578e+06  18.124770
36         AUS  Australia  1996  637867.187500  2.036511e+06  18.318340
37         AUS  Australia  1997  666130.250000  2.103477e+06  18.512971
38         AUS  Australia  1998  699465.062500  2.172301e+06  18.709175
39         AUS  Australia  1999  726548.500000  2.246754e+06  18.906936
40         AUS  Australia  2000  740561.187500  2.304406e+06  19.107251

         emp          avh     labsh     alpha             L          y  \
0   4.014894  2104.390218  0.687863  0.312137   8448.903680  20.619330
1   4.026486  2098.294456  0.687863  0.312137   8448.754082  20.900874
2   4.123091  2092.216350  0.687863  0.312137   8626.398867  21.755598
3   4.240949  2086.155852  0.687863  0.312137   8847.280893  22.644510
4   4.393102  2080.112908  0.687863  0.312137   9138.147536  23.310219
5   4.526175  2074.087469  0.687863  0.312137   9387.682896  23.196717
6   4.689340  2068.079484  0.687863  0.312137   9697.928084  23.842738
7   4.836034  2062.088902  0.687863  0.312137   9972.332655  24.377764
8   4.954110  2056.115673  0.687863  0.312137  10186.222535  25.576138
9   5.092617  2050.159746  0.687863  0.312137  10440.677472  26.773074
10  5.285706  2044.221072  0.687863  0.312137  10805.150702  26.895987
11  5.395494  2039.894092  0.688162  0.311838  11006.236300  27.437538
12  5.462857  2035.899956  0.685425  0.314575  11121.830825  27.857832
13  5.603972  2031.794871  0.697490  0.302510  11386.122451  28.325787
14  5.699203  2027.689787  0.738637  0.261363  11556.214778  28.282066
15  5.674711  2023.695651  0.723585  0.276415  11483.887464  29.197245
16  5.757743  2019.701514  0.711577  0.288423  11628.922981  29.873056
17  5.809037  2015.374534  0.701187  0.298813  11707.385655  29.938970
18  5.825817  2011.380397  0.686894  0.313106  11717.933371  31.124484
19  5.902486  2034.124784  0.675235  0.324765  12006.393719  31.303576
20  6.062165  2021.024341  0.681735  0.318265  12251.782585  31.706771
21  6.138003  1997.250293  0.673425  0.326575  12259.128990  32.740076
22  6.122281  1958.757412  0.667912  0.332088  11992.063433  32.722585
23  6.026680  1981.132034  0.639307  0.360693  11939.648791  34.387457
24  6.236285  1986.281706  0.646991  0.353009  12387.018277  34.885557
25  6.452033  2002.135098  0.643139  0.356861  12917.841806  34.819857
26  6.737102  1977.425987  0.625257  0.374743  13322.119694  34.635944
27  6.919272  1990.390532  0.603611  0.396389  13772.054316  35.446604
28  7.165946  1999.474993  0.592922  0.407078  14328.128891  35.398385
29  7.458226  1987.891383  0.602379  0.397621  14826.143604  35.416669
30  7.556260  1967.758207  0.608042  0.391958  14868.891902  35.164421
31  7.453694  1962.170498  0.596084  0.403916  14625.419143  35.894211
32  7.370432  1971.273783  0.592167  0.407833  14529.139173  37.594381
33  7.422643  1981.617834  0.587776  0.412224  14708.841167  38.637094
34  7.636843  1995.455059  0.584834  0.415166  15238.977405  38.740395
35  7.889025  1994.174719  0.587456  0.412544  15732.094633  39.007353
36  8.026786  1982.111125  0.597658  0.402342  15909.981533  40.092264
37  8.096346  1980.657416  0.591985  0.408015  16036.087553  41.539450
38  8.207997  1978.107264  0.593240  0.406760  16236.299123  43.080326
39  8.370443  1983.270246  0.585133  0.414867  16600.851233  43.765738
40  8.562976  1968.578665  0.586532  0.413468  16856.891630  43.932251

             k   y_shifted   k_shifted
0    64.956660  100.000000  100.000000
1    66.600478  101.365436  102.530639
2    67.816755  105.510694  104.403082
3    68.812357  109.821756  105.935799
4    70.045289  113.050321  107.833884
5    71.147256  112.499857  109.530348
6    72.414256  115.632941  111.480880
7    73.763616  118.227720  113.558203
8    76.213575  124.039617  117.329886
9    78.411171  129.844538  120.713059
10   79.472445  130.440641  122.346878
11   81.721856  133.067070  125.809819
12   84.484545  135.105417  130.062945
13   86.442921  137.374912  133.077842
14   88.308079  137.162873  135.949230
15   92.047499  141.601326  141.706023
16   94.003256  144.878887  144.716887
17   96.495316  145.198556  148.553383
18   99.945898  150.948083  153.865513
19  101.114979  151.816650  155.665299
20  103.252373  153.772073  158.955792
21  107.713719  158.783411  165.823981
22  113.574647  158.698583  174.846810
23  117.557143  166.772909  180.977814
24  117.106824  169.188604  180.284554
25  116.316198  168.869972  179.067395
26  116.429567  167.978026  179.241924
27  116.366390  171.909583  179.144665
28  116.073635  171.675728  178.693971
29  115.961316  171.764403  178.521058
30  118.216089  170.541043  181.992254
31  122.351434  174.080391  188.358567
32  125.855486  182.325911  193.753014
33  127.296067  187.382876  195.970770
34  126.402117  187.883867  194.594545
35  125.830542  189.178567  193.714613
36  128.002113  194.440189  197.057720
37  131.171443  201.458773  201.936866
38  133.792851  208.931745  205.972492
39  135.339656  212.255865  208.353780
40  136.704118  213.063423  210.454352